page-contact {
 background-color: rgb(93,163,215);
}
.contention {

    background-color: rgb(93,163,215);
}

ion-img{
    color: rgb(93,163,215);
}

ion-list {
  background-color: rgb(93,163,215);
}

ion-content {
     background-color: rgb(93,163,215);
}
.scroll-content{
background-color: rgb(93,163,215);
    }