<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="contention">
  <ion-list>
    
  </ion-list>
      
</ion-content>
