<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<button ion-button  color="light" class="button button-block" ion-button (click)="searchBluetooth($event)">
  Search Bluetooth Devices
</button>
<button ion-button  color="light" class="button button-block" ion-button (click)="connectSensortag($event)">
  Connect SensorTag
</button>
<button ion-button  color="light"class="button button-block" ion-button (click)="wakeBarometer($event)">
  Wake Barometer
</button>

<button ion-button  color="light" class="button button-block" ion-button (click)="getBarometerData($event)">
 Receive Dataz
</button>

<p>{{bluetoothdevice}}</p>
<p>{{airPressure}}</p>
<p>{{temperature}}</p>



</ion-content>
